{{define "indexPage"}}{{ template "header" . }}
	
		{{ template "menu" . }}

		<main role="main">

			<section class="jumbotron text-center">
				<div class="container">
					<h1 class="jumbotron-heading">DotaData</h1>
					<p class="lead">Easily display Dota 2 data on your website with tooltips and datasheets.</p>
					<p>
						<a href="https://dota.peterbooker.com/assets/tooltips/ddtips.latest.zip" class="btn btn-primary my-2">Download</a>
						<a href="#" class="btn btn-primary my-2">WordPress Plugin</a>
						<a href="/docs" class="btn btn-secondary my-2">View Docs</a>
					</p>
				</div>
			</section>

			<section class="highlights text-center">
				<div class="container">
					<div class="row feature">
						<div class="col-md-7">
							<h2 class="feature-heading">Beautiful Tooltips</h2>
							<p class="lead">Display stunning tooltips on links to OpenDota, Dotabuff or custom links. Heroes like <a href="http://www.dota2.com/hero/dragon_knight/">Dragon Knight</a>, <a href="http://www.dota2.com/hero/monkey_king/">Monkey King</a> and <a href="http://www.dota2.com/hero/lion/">Lion</a>. Abilities like <a href="http://www.dota2.com/ability/blink/" data-type="ability" data-tem="blink">Blink</a>, <a href="http://www.dota2.com/ability/counter_helix/" data-type="ability" data-tem="counter_helix">Counter Helix</a> and <a href="http://www.dota2.com/ability/thundergods_wrath/" data-type="ability" data-tem="thundergods_wrath">Thundergod's Wrath</a>. Items like <a href="http://www.dota2.com/item/battle_fury/">Battle Fury</a>, <a href="http://www.dota2.com/item/spirit_vessel/">Spirit Vessel</a> and <a href="http://www.dota2.com/item/dagon_5/">Dagon</a>.</p>
						</div>
						<div class="col-md-5">
							<img class="feature-image img-fluid mx-auto" src="https://dota.peterbooker.com/assets/images/dotadata-features-tooltips.png" alt="DotaData Tooltips">
						</div>
						</div>

						<hr class="feature-divider">

						<div class="row feature">
						<div class="col-md-7 order-md-2">
							<h2 class="feature-heading">Stunning Datasheets</h2>
							<p class="lead">Display blocks of data on your favourite Abilities, Heroes or Items.</p>
						</div>
						<div class="col-md-5 order-md-1">
							<img class="feature-image img-fluid mx-auto" src="https://dota.peterbooker.com/assets/images/dotadata-features-api.png" alt="DotaData Datasheet">
						</div>
						</div>

						<hr class="feature-divider">

						<div class="row feature">
						<div class="col-md-7">
							<h2 class="feature-heading">Need more power? Use the API</h2>
							<p class="lead">Fetch the data you need using the API and display the data where, when and how you want.</p>
						</div>
						<div class="col-md-5">
							<img class="feature-image img-fluid mx-auto" src="https://dota.peterbooker.com/assets/images/dotadata-features-api.png" alt="DotaData API">
						</div>
					</div>

					<hr class="feature-divider">

					<div class="row headlines">
						<div class="col-lg-4">
							<h2>Manual</h2>
							<p>Include the JS/CSS files on your website manually, giving you full control and customizability.</p>
							<a href="https://dota.peterbooker.com/assets/tooltips/ddtips.latest.zip" class="btn btn-primary">Download</a>
						</div>
						<div class="col-lg-4">
							<h2>WordPress</h2>
							<p>Using WordPress? Install the handy WordPress Plugin, the easiest way to display Dota2 information on your website.</p>
							<a href="#" class="btn btn-primary">View Plugin</a>
						</div>
						<div class="col-lg-4">
							<h2>API</h2>
							<p>Need more control? You can use the API yourself, giving you full control over what and how you display it on your website.</p>
							<a href="/docs#api" class="btn btn-primary">View Docs</a>
						</div>
					</div>
				</div>
			</section>
			
		</main>
		
	{{ template "footer" . }}
		
{{end}}