{{define "privacyPage"}}{{ template "header" . }}
	
		{{ template "menu" . }}

		<main role="main">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Privacy</h1>
                    <p class="lead">No cookies, no tracking, full privacy.</p>

                    <p>No part of the DotaData service uses cookies and/or tracking, your (and your users) privacy is respected.</p>
                    <p>DotaData uses internal metrics to monitor the health of the service- number of API calls and response times, but nothing relating to users.</p>
                </div>
            </section>
			
		</main>
		
	{{ template "footer" . }}
		
{{end}}