/**
 * Main Tooltip Style File
 */

@import 'colors';

#dotadata-tooltip {
    position: absolute;
    visibility: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6em;
    margin: 0;
    padding: 10px 0 0 0;

    opacity: 0;
    transition: opacity .25s ease-in-out;

    &.active {
        visibility: visible;
        z-index: 9999;
        opacity: 1;
    }

    // Reset
    & * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: normal;
        border: none;
        background: none;
        float: none;
        clear: none;
    }

    .loading {
        display: none;
    }

    .arrow {
        display: none;
    }
}

// Import All Themes
@import 'themes/default';